<h2>Relação de Empresas</h2>    
    <table>
      <tr>        
        <td>Logo</td>
        <td>Nome</td>
      </tr>
      <% @companies.each do |company| %>
      <tr>      
        <td><img src="<%= company.logo%>" /></td>
        <td><%= link_to company.domain, company %></td>        
      </tr>
      <% end %>  
    </table> 