<h2>Recusando a Oferta</h2>

<%=form_with url: refused_offer_path, method: :post do |f| %>
        <dt><%= f.label :motive, 'Motivo' %></dt>
        <dd><%= f.text_field :motive %></dd>                 
        <%= f.submit 'Confirmar Recusa' %>        
<% end %>